<p style="color: green"><%= notice %></p>

<h1>Tesks</h1>

<div id="tesks">
  <% @tesks.each do |tesk| %>
    <%= render tesk %>
    <p>
      <%= link_to "Show this tesk", tesk %>
    </p>
  <% end %>
</div>

<%= link_to "New tesk", new_tesk_path %>
