<p style="color: green"><%= notice %></p>

<h1>Todays challanges</h1>

<div id="tasks">
  <% @user_tasks.each do |user_task| %>

    <%= render user_task %>
    <%= button_to change_status_user_task_url(user_task), method: :patch %>

  <% end %>
</div>



