<div class="container">

  <p style="color: green"><%= notice %></p>

  <div class="row tasks mb-3">
    <h1>Daily Challenge</h1>
  </div>

  <div class="row tasks mb-4">
    <%= render @daily_challenge.daily_tasks.order(:id) %>
  </div>

  <div id="daily_challenge" class="mb-4">
    <%= render @daily_challenge %>
  </div>

  <div class="mb-4">
    <%= link_to "Back to daily challenges", daily_challenges_path %>
  </div>

</div>