/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --green: #519259;
    --yellow: #FEFADC;
}

.body {
    background-color: var(--yellow);
}

img {
    width: 30px;
}

/******* nav *******/
.navbar {
    color: white;
    background-color: var(--green);
}

.nav-icon{
    color: white;
}

.nav-icon:hover {
    color:black
}

/******* button *******/
.tasks button {
    text-align: left;
    width: 600px;
}

@media only screen and (max-width: 600px) {
    .tasks button {
        width: 100%;
    }
}

/*******  tasks *******/
@media only screen and (max-width: 600px) {
    #tasks {
        width: 100%;
    }
}