<nav class="navbar navbar-light" style="background-color: #3AAFA9">

  <div class="row container-fluid w-100 text-center m-1 p-0" >
    <div class="col p-1">
      <%= link_to root_path, class:"p-3 nav-icon" do %>
        <span class="material-icons">person</span>
      <% end %>
    </div>

  </div>

</nav>

