<p style="color: green"><%= notice %></p>

<div class="container">

  <div class="row">
    <h1>Todays challanges</h1>
  </div>

  <br>

  <div class="row tasks">
    <%= render @user_tasks %>
  </div>

  <br>

  <div class="row">
    <p>Total score today: <%= @points %></p>
  </div>

</div>



